<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.bht.fpa.mail.s791537.imapnavigation.ImapView"
            id="de.bht.fpa.mail.s791537.imapnavigation.ImapView"
            name="IMAP Navigation"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.bht.fpa.mail.s791537.main.perspective">
         <view
               id="de.bht.fpa.mail.s791537.imapnavigation.ImapView"
               minimized="false"
               relationship="stack"
               relative="de.bht.fpa.mail.s791537.main.perspective.left">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.bht.fpa.mail.s791537.imapnavigation.commands.category"
            name="Sample Category">
      </category>
      <command
            category="de.bht.fpa.mail.s791537.imapnavigation.commands.category"
            id="de.bht.fpa.mail.s791537.imapnavigation.commands.synchronize"
            name="Synchronize">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.bht.fpa.mail.s791537.imapnavigation.handlers.SynchronizeHandler"
            commandId="de.bht.fpa.mail.s791537.imapnavigation.commands.synchronize">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.bht.fpa.mail.s791537.imapnavigation.commands.synchronize"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+S">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.bht.fpa.mail.s791537.imapnavigation.menus.imapMenu"
               label="IMAP"
               mnemonic="I">
            <command
                  commandId="de.bht.fpa.mail.s791537.imapnavigation.commands.synchronize"
                  id="de.bht.fpa.mail.s791537.imapnavigation.commands.synchronize"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.bht.fpa.mail.s791537.imapnavigation.toolbars.imapToolbar">
            <command
                  commandId="de.bht.fpa.mail.s791537.imapnavigation.commands.synchronize"
                  icon="icons/sampel.gif"
                  id="de.bht.fpa.mail.s791537.imapnavigation.commands.synchronize"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
