<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.bht.fpa.mail.s791537.imapaccounts.commands.category"
            name="Sample Category">
      </category>
      <command
            category="de.bht.fpa.mail.s791537.imapaccounts.commands.category"
            id="de.bht.fpa.mail.s791537.imapaccounts.commands.add"
            name="Add">
      </command>
      <command
            category="de.bht.fpa.mail.s791537.imapaccounts.commands.category"
            id="de.bht.fpa.mail.s791537.imapaccounts.commands.edit"
            name="Edit">
      </command>
      <command
            category="de.bht.fpa.mail.s791537.imapaccounts.commands.category"
            id="de.bht.fpa.mail.s791537.imapaccounts.commands.delete"
            name="Delete">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.bht.fpa.mail.s791537.imapaccounts.menus.accountMenu"
               label="Accounts"
               mnemonic="A">
            <command
                  commandId="de.bht.fpa.mail.s791537.imapaccounts.commands.add"
                  id="de.bht.fpa.mail.s791537.imapaccounts.commands.add"
                  mnemonic="A">
            </command>
            <command
                  commandId="de.bht.fpa.mail.s791537.imapaccounts.commands.edit"
                  id="de.bht.fpa.mail.s791537.imapaccounts.commands.edit"
                  mnemonic="E">
            </command>
            <command
                  commandId="de.bht.fpa.mail.s791537.imapaccounts.commands.delete"
                  id="de.bht.fpa.mail.s791537.imapaccounts.commands.delete"
                  mnemonic="D">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.bht.fpa.mail.s791537.imapaccounts.handlers.AddHandler"
            commandId="de.bht.fpa.mail.s791537.imapaccounts.commands.add">
      </handler>
      <handler
            class="de.bht.fpa.mail.s791537.imapaccounts.handlers.EditHandler"
            commandId="de.bht.fpa.mail.s791537.imapaccounts.commands.edit">
      </handler>
      <handler
            class="de.bht.fpa.mail.s791537.imapaccounts.handlers.DeleteHandler"
            commandId="de.bht.fpa.mail.s791537.imapaccounts.commands.delete">
      </handler>
   </extension>

</plugin>
